
<div class="row">
    <p class="texy-end">Hola {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"> </i></a></p>
</div>

<h2>Soy el administrador</h2>
